:root {
  --bright: #fefefe;
  --second-light: #3f3f3f;
  --second-dark: #333333;
  --dark: #222222;

  --small: 0.85rem;
  --normal: 1rem;
  --medium: 2rem;
  --large: 2.8rem;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 0
}

body {
  margin: 0;
  background-color: var(--dark);
  color: var(--bright);
  font-family: "Changa", sans-serif;
}

header {
  background-color: var(--second-dark);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 15px;
}

h1 {
  margin: 0;
  background-color: var(--second-light);
  color: var(--bright);
  padding: 15px;
  display: inline-block;
  font-size: var(--normal);
}

.promo {
  font-size: var(--small);
  font-style: italic;
  margin: 0;
}

main {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  column-gap: 20px;
}

.hidden {
  display: none;
}

#projects {
  padding-left: 0;
  list-style: none;
}

#projects li {
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: var(--second-dark);
}

.chosen-proj {
  font-weight: bold;
}

#new-proj {
  border: 0;
  font-size: var(--small)
}

input {
  background-color: var(--second-light);
  color: var(--bright);
  padding: 5px;
  border: 1px solid var(--second-light);
}

#new-task-add,
#priority,
#date-picker, #date-today, #date-tomorrow, #date {
  padding: 5px 10px;
  background-color: var(--bright);
  border: 0;
}

.remove-proj {
  border: 0;
  background-color: var(--second-dark);
  margin-left: 5px;
  color: var(--dark);
}

#task-list {
  list-style: none;
  padding-left: 0;
}

.input-wrapper {
  display: flex;
  gap: 5px;
}

h2 {
  display: flex;
  align-items: center;
}

#new-task-input {
  flex-grow: 2;
}
